@charset "utf-8";
/* CSS Document */
/* Begin with loading proper screen resolution display.*/

@viewport {width: 100%}
    @media (max-width: 300px) {
        @viewport {width: 100%}
}
@media screen and (min-width: 301px ) and ( max-width : 550px ){
    .header .left_panel { order: 1;}
    .header .righ_panel { font-size: 2em; order: 2; }
    .article .section .main .img { width: 100%; order: 3; }
    .article .section .imageapp1 { width: 100%; order: 4; }
    .article .section .imageapp2 { width: 100%; order: 5; }
    .article .section .imageapp3 { width: 100%; order: 6; }
    .footer { order: 7; }
}
@media screen and (min-width: 551px) and (max-width: 850px) {
    .header .left_panel { order: 1;}
    .header .righ_panel { font-size: 2em; order: 2; }
    .article .section .main .img { width: 100%; order: 3; }
    .article .section .imageapp1 { width: 100%; order: 4; }
    .article .section .imageapp2 { width: 100%; order: 5; }
    .article .section .imageapp3 { width: 100%; order: 6; }
    .footer { order: 7; }
}
@media screen and (min-width: 851px) and (max-width: 1040px){
    .header .left_panel { order: 1;}
    .header .righ_panel { font-size: 2em; order: 2; }
    .article .section .main .img { width: 100%; order: 3; }
    .article .section .imageapp1 { width: 100%; order: 4; }
    .article .section .imageapp2 { width: 100%; order: 5; }
    .article .section .imageapp3 { width: 100%; order: 6; }
    .footer { order: 7; }
}
/* Loading common screen elements.*/

img, embed, object, video {max-width: 100%;}

#container {
    float: left;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#content {
    float: left;
    flex-wrap: wrap;
    width: 30%;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    font-family: "Arial Rounded MT Bold", "Arial, Helvetica", "Sans Serif";
    color: #02b3e4;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    font-family: "Arial Rounded MT Bold", "Arial, Helvetica", "Sans Serif";
    color: #7d97ad;
    font-weight: normal;
    text-align: center;
}

h4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 5%;
    margin-right: 5%;
    font-size: .75em;
    font-family: "Times New Roman";
    color: #7d97ad;
    font-weight: normal;
    text-align: center;
}

.sidebar {
  float: right;
  width: 50%;
  margin-right: 10px;
  padding-top: 50px; /* extra space padding */
}

/* Begin with entire container.*/

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/* Load Header elements.*/

.container header {
    float: left;
    flex-wrap: wrap;
    display: inline;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.container header .main .image {
    background: url("images/udacity_logo.jpg") no-repeat;
    float: left;
    flex-wrap: wrap;
    display: inline;
    width: 100%;
}

.container header .left_panel{
    flex-wrap: wrap;
    display: inline;
    float: left;
}

.container header .right_panel{
    flex-wrap: wrap;
    display: inline;
    float: right;
}

.container header .right_panel p .studentname{
    float: right;
    flex-wrap: wrap;
    display: inline;
    vertical-align: top;
    color: #2d3c39;
    font-size: 3em;
    text-transform: uppercase;
}

.container header .right_panel p .pagetitle {
    float: right;
    flex-wrap: wrap;
    display: inline;
    vertical-align: bottom;
    font-size: 1.5em;
}

.container hr{
    width: 100%;
    color: #2d3c49;
}

/* Load main body section elements.*/

.container .main {
    float: left;
    flex-wrap: wrap;
    display: inline-flex;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    color: #2d3c49;
}

.container article section .main .img {
    float: left;
    flex-wrap: wrap;
    width: 100%;
}

.container article section .main .a .imageapp .p {
    float: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    vertical-align: bottom;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}

.container article section .main .a .imageapp {
    float: left;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 2.5em;

}

.container article section .main .a .imageapp .imageapp_title {
    float: left;
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    text-align: center;
}

.container article section .main .a .imageapp .link {
    float: left;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    text-align: center;
}

div {
    display: inline-block;
}

a:link, a:visited {
    text-decoration: none;
    color: #02b3e4;
    padding: 10px 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

a:hover, a:active {
    text-decoration: underline;
    color: #2d3c39 ;
    padding: 10px 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

/* Load Footer elements.*/

.container footer {
    clear: left;
    flex-wrap: wrap;
    display: inline-block;
    width: 100%;
    height: 20px;

}

.container footer p {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Times New Roman";
    font-size: .75em;

}

.container footer hr {
    width: 90%;
}
