@media (min-width: 300px) {
        @viewport {width: 300px;
}

@media screen and (min-width: 301px) and (max-width: 550px) {
    .udacity_logo_mob { order: 1; }
    .right_panel { order: 2; }
    .web_tools .web_development_tools_mob { order: 3; }
    .imageapp .apple_appify_mob { order: 4; }
    .imageapp .sunflower_mob { order: 5; }
    .imageapp .bokeh_mob  { order: 6; }
    .footer { order: 7; }
}

@media screen and (min-width: 551px) and (max-width: 799px) {
    .udacity_logo_tab { order: 1; }
    .right_panel { order: 2; }
    .web_tools .web_development_tools_mob { order: 3; }
    .imageapp .apple_appify_tab { order: 4; }
    .imageapp .sunflower_tab { order: 5; }
    .imageapp .bokeh_tab { order: 6; }
    .footer { order: 7; }
    .logo-container { width: 100%; }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    .udacity_logo_desk { order: 1;}
    .right_panel { order: 2; }
    .web_tools .web_development_tools_mob { width: 50%; order: 3; }
    .imageapp .apple_appify_desk { order: 6; }
    .imageapp .sunflower_desk { order: 5; }
    .imageapp .bokeh_desk { order: 4; }
    .footer { order: 7; }
    .p {font-size: 2em; }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.logo-container {
    width: 100%;
    height: auto;
}

.logo {
    display: inline-block
    width: 100%;
    align-items: left;
    height: auto;
    margin-left: left;
    margin-right: auto;
}

img {
    width: auto;
    height: auto;
}

.udacity_logo {
    width: 20%;
    padding: 0%;
    margin-left: left;
    margin-right: auto;
    height: auto;
}

.p {
    text-align: center;
    padding: 2%;
    font-size: 1em;
}

.studentname {
    color: #02b3e4;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    font-size: 4vw;
}

.pagetitle {
    font-size: 4vw;
    text-align: right;
}

.web_tools_container {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 3%;
    padding: 1em;
    font-size: 1em;
}

.web_tools {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #2d3c39;
 }

img.displayed {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.child-container {
    display: inline-block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #2d3c39;
    margin-left: auto;
    margin-right: auto;
}

.imageapp_container {
    width: 100%;
    margin-left: 5%;
    margin-bottom: 3%;
}

h2 h3 {
    width: 30%;
    text-align: right;
}

h4 {
   margin-left: 4%;
   margin-right: 4%;
   text-align: center;
}

h5 {
   margin-left: 4%;
   margin-right: 4%;
   text-align: center;
}

h6 {
    font-size: .75em;
    margin-left: 2%;
    text-align: left;
}

a:link, a:visited {
    float: none;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #02b3e4;
    margin-left: 5%;
    margin-right: 5%;
}

a:hover, a:active {
    float: none;
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
    color: #2d3c39;
}

footer {
    display: flex;
    width: 100%;
    padding: 1em 1em;
}
/*Testing Versioning in GitHub 5*/
